services:
 db:
   image: postgres:17
   environment:
     POSTGRES_DB: ${DATABASE_NAME}
     POSTGRES_USER: ${DATABASE_USERNAME}
     POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
   ports:
     - "${DATABASE_PORT}:5432"
   volumes:
     - postgres_data:/var/lib/postgresql/data
   env_file:
     - .env

 django-web:
   command: >
    sh -c "
    python manage.py migrate &&
    python manage.py runserver 0.0.0.0:8000
    "
   build:
      context: .
      dockerfile: Dockerfile.backend
   container_name: django-docker
   ports:
     - "${DJANGO_PORT}:8000" # Host:Container
   depends_on:
     - db
   environment:
     SECRET_KEY: ${SECRET_KEY}
     DATABASE_NAME: ${DATABASE_NAME}
     DATABASE_USERNAME: ${DATABASE_USERNAME}
     DATABASE_PASSWORD: ${DATABASE_PASSWORD}
     DATABASE_HOST: ${DATABASE_HOST}
     DATABASE_PORT: 5432 # Containers will use this port
   volumes:
     - ./backend:/app
   env_file:
     - .env

 react-frontend:
   build:
     context: .
     dockerfile: Dockerfile.frontend
   container_name: react-docker
   ports:
     - "${REACT_PORT}:5173"
   volumes:
     - ./frontend:/appfront
     - /appfront/node_modules
   environment:
     - VITE_API_BASE_URL=http://localhost:8001/api
   command: npm run dev -- --host 0.0.0.0
   depends_on:
     - django-web

volumes:
   postgres_data: